input {
  border: 2px solid #3f3f3f;
  margin-right: 10px;
  padding: 3px 6px;
  width: 90%;
}

label {
  display: block;
  margin-bottom: 5px;
  margin-top: 5px;
}

button {
  background-color: #fff;
  border: 2px solid #3f3f3f;
  cursor: pointer;
  margin-top: 30px;
  padding: 6px 12px;
  &:hover {
    background-color: #8f8f8f;
    transition: box-shadow 0.3s ease;
  }
  &:focus {
    outline: none;
  }
}

.text-center {
  text-align: center!important;
  width: 100%;
}

.clearfix:after {
  clear: both;
  content: "";
  display: block;
  height: 0;
  visibility: hidden;
}
.clearfix {
  zoom: 1;
}
.clear {
  clear: both;
}
.left {
  float: left;
} .right {
  float: right;
}
